/*
  h1 {
    font-size: clamp(36px, 7vw, 48px);
    font-weight: 900;
  }
  h2 {
    font-size: clamp(28px, 5.5vw, 32px);
    font-weight: 700;
  }
  h3 {
    font-size: clamp(20px, 4.5vw, 24px);
    font-weight: 400;
  }
  p {
    font-size: clamp(12px, 3vw, 16px);
  }
*/
body {
  font-family: "Lato", "Pretendard", sans-serif;
  font-size: 16px;
  color: #111;
}

.header {
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  height: 110px;
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 99;
  transition: all 0.25s ease;
}
.header h1 {
  font-size: clamp(30px, 5vw, 32px);
}
.header:before {
  content: "";
  display: block;
  height: 110px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.header:after {
  content: "";
  display: block;
  height: 420px;
  width: 100%;
  background-color: rgba(27, 148, 152, 0.7);
  position: absolute;
  left: 0;
  top: 110px;
  z-index: -1;
}
.header.on {
  height: 300px;
}
.header .logo {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0 40px;
  color: #1fa9ae;
  height: 110px;
  padding: 0 10px;
  margin-left: 60px;
}
.header .logo a {
  display: flex;
  align-items: center;
  height: 110px;
}
.header .logo a img {
  height: 110px;
}
.header .logo h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  font-weight: 700;
}
.header .nav {
  transition: all 0.25s ease;
}
.header .nav_list {
  display: flex;
  justify-content: center;
}
.header .nav_list > li {
  padding-left: 10px;
}
.header .nav_list > li > a {
  font-size: 18px;
  font-weight: 700;
  height: 110px;
  display: flex;
  align-items: center;
  padding: 0 40px;
}
.header .nav_list > li > a:hover {
  color: #1fa9ae;
}
.header .nav_list_sub li {
  padding: 5px 0;
}
.header .nav_list_sub li a {
  padding: 10px 0;
  line-height: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.header .nav_list_sub li a:hover {
  font-weight: 700;
}
.header .loginJoin {
  gap: 0 20px;
  z-index: 99;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .loginJoin span:hover {
  color: #1fa9ae;
}