@import "vars";
@import "mixins";

.hidden {
  display: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  // box-sizing: content-box;
}
a {
  color: inherit;
  text-decoration: none;
}
input {
  font-family: inherit;
}
textarea {
  font-family: inherit;
}
p {
  line-height: 1.5;
}
img {
  vertical-align: top;
}
button {
  border: none;
  outline: none;
  background: none;
}

.bluemint {
  color: $bluemint;
}

/********** animation ***********/
@keyframes arrow-move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50px);
  }
}
@keyframes arrow-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}
@keyframes arrow-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}
